.inner {
	display: flex;
	flex-direction: column;
	row-gap: fluid(40, 30);
}

.culturesList {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include mobile {
		margin-top: 25px;
	}

	h5 {
		letter-spacing: 0.6px;
		font-size: fluid(22, 22);
		color: #E30613;
		margin-bottom: 10px;
		font-weight: 500;

		@include mobile {
			letter-spacing: 0;
		}
	}
}

.culturesDescription {
	font-size: fluid(20, 16);
	iframe {
		margin: 15px 0 0 0;
	}
}
