.groupNewsPage {
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .newsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 245px));
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
      justify-content: center;
      margin-bottom: 30px;
    }
    gap: 23px;
    a.newsItem {
      .newsItemContent {
        .newsDesc {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}