.asideNews {
	padding-top: 2px;
	.asideNewsTitle {
		font-size: 20px;
		margin-bottom: 25px;
	}
	@media (max-width: 768px) {
		min-width: auto;
		width: 100%;
	}
	.newsList {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding-right: 20px;
		// max-height: 1050px;
		// overflow-y: scroll;
		.asideNewsCard {
			display: flex;
			flex-direction: column;
			width: 245px;
			gap: 5px;
			@media (max-width: 1448px) {
				width: 300px !important;
			}
			img {
				width: 100%;
				aspect-ratio: 3 / 2;
				object-fit: cover;
				border-radius: 5px;
				@media (max-width: 1448px) {
					height: 200px !important;
				}
			}
			.asideNewsCardTitle {
				font-size: 15px;
			}
			.asideNewsCardDate {
				font-size: 15px;
				color: #949494;
			}
		}
	}
  .newsSliderBtns {
		@media (max-width: 768px) {
			top: 40%;
			width: 70%;
		}
		@media (max-width: 440px) {
			top: 40%;
			width: 280px;
		}
	}
}

.asideNewsCard {
	display: flex;
	flex-direction: column;
	width: 245px;
	gap: 5px;
	@media (max-width: 768px) {
		width: 300px!important;
		margin: 0 auto;
	}
	img {
		width: 100%;
		aspect-ratio: 3 / 2;
		object-fit: cover;
		border-radius: 5px;
		@media (max-width: 768px) {
			height: 200px !important;
		}
	}
	.asideNewsCardTitle {
		font-size: 15px;
	}
	.asideNewsCardDate {
		font-size: 15px;
		color: #949494;
	}
}
