.participantItem {
  width: 423px;
  height: 243px;
  border: 1px solid #E1E1E1;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / .1);
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 20px 20px 15px 20px;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
  .headCard {
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .participantImgWrapper {
    width: 150px;
    height: 100px;
    border-radius: var(--border-radius);
    @media (max-width: 768px) {
      width: 260px;
      height: 174px;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 3 / 2;
      object-fit: contain;
      border-radius: var(--border-radius);
    }
  }
  .participantItemContent {
    display: flex;
    gap: 20px;
    flex-direction: column;
    .infoBlock {
      max-width: 210px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 17px;
      @media (max-width: 768px) {
        max-width: 100%;
      }
      .name {
        font-size: 21px;
      }
      .additionalInfo {
        display: flex;
        flex-direction: column;
        p:last-child {
          font-size: 15px;
          color: #00000080;
        }
      }
    }
    .groups {
      p {
        padding-left: 22px;
        font-size: 17px;
      }
      p:first-child {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 17px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.833008' width='16' height='16' rx='3' fill='%23E30613'/%3E%3Cpath d='M8.83301 7.54094C9.8429 7.54094 10.6616 6.69231 10.6616 5.64547C10.6616 4.59863 9.8429 3.75 8.83301 3.75C7.82312 3.75 7.00444 4.59863 7.00444 5.64547C7.00444 6.69231 7.82312 7.54094 8.83301 7.54094Z' fill='white'/%3E%3Cpath d='M9.25929 7.98519C10.5379 7.98519 11.5756 9.06117 11.5756 10.3862V10.8657C11.5756 11.6298 10.9773 12.25 10.2402 12.25H7.42529C6.68815 12.25 6.08986 11.6298 6.08986 10.8657V10.3862C6.08986 9.06087 7.12786 7.98519 8.40615 7.98519H9.25929Z' fill='white'/%3E%3Cpath d='M12.5044 6.56448C13.2513 6.56448 13.8567 5.93689 13.8567 5.16272C13.8567 4.38855 13.2513 3.76096 12.5044 3.76096C11.7576 3.76096 11.1522 4.38855 11.1522 5.16272C11.1522 5.93689 11.7576 6.56448 12.5044 6.56448Z' fill='white'/%3E%3Cpath d='M5.16158 6.56448C5.90843 6.56448 6.51386 5.93689 6.51386 5.16272C6.51386 4.38855 5.90843 3.76096 5.16158 3.76096C4.41473 3.76096 3.80929 4.38855 3.80929 5.16272C3.80929 5.93689 4.41473 6.56448 5.16158 6.56448Z' fill='white'/%3E%3Cpath d='M12.9113 7.06707H12.0976C11.6667 7.06707 11.281 7.2661 11.0202 7.57974C11.901 8.17563 12.4856 9.20481 12.4899 10.3732H13.4796C13.951 10.3732 14.333 9.97721 14.333 9.48854V8.5408C14.333 7.72693 13.6964 7.06707 12.9113 7.06707Z' fill='white'/%3E%3Cpath d='M6.64586 7.57974C6.38501 7.2658 5.99929 7.06707 5.56844 7.06707H4.75472C3.96958 7.06707 3.33301 7.72693 3.33301 8.5408V9.48854C3.33301 9.97721 3.71501 10.3732 4.18644 10.3732H5.17586C5.18015 9.20481 5.76501 8.17563 6.64586 7.57974Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
      P:last-child {
        max-width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }
    }
    .types {
      p {
        padding-left: 22px;
        font-size: 17px;
      }
      p:first-child {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 17px;
          height: 16px;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.166016' width='16' height='16' rx='3' fill='%23E30613'/%3E%3Cpath d='M11.8279 5.83635L9.81719 3.84598C9.70659 3.73642 9.57452 3.64939 9.42874 3.58997C9.28296 3.53056 9.12641 3.49997 8.96826 3.5H5.4796C5.13136 3.50015 4.79742 3.63425 4.55113 3.87285C4.30484 4.11145 4.16632 4.43503 4.16602 4.77253V11.2263C4.16602 11.3936 4.20001 11.5592 4.26605 11.7137C4.33209 11.8683 4.42889 12.0087 4.55092 12.127C4.67296 12.2452 4.81783 12.339 4.97727 12.403C5.13671 12.4671 5.3076 12.5 5.48018 12.5H10.8519C11.2004 12.5 11.5347 12.3658 11.7811 12.127C12.0276 11.8881 12.166 11.5641 12.166 11.2263V6.64139C12.1661 6.34054 12.0448 6.05159 11.8279 5.83635ZM6.0586 6.10639C6.0586 6.00859 6.09869 5.91479 6.17005 5.84563C6.2414 5.77648 6.33819 5.73762 6.4391 5.73762H8.43278C8.5337 5.73762 8.63048 5.77648 8.70183 5.84563C8.77319 5.91479 8.81328 6.00859 8.81328 6.10639C8.81328 6.20419 8.77319 6.29799 8.70183 6.36714C8.63048 6.4363 8.5337 6.47515 8.43278 6.47515H6.4391C6.33819 6.47515 6.2414 6.4363 6.17005 6.36714C6.09869 6.29799 6.0586 6.20419 6.0586 6.10639ZM9.89032 8.33192H7.66471H6.4391C6.38913 8.33192 6.33965 8.32238 6.29349 8.30385C6.24733 8.28531 6.20538 8.25815 6.17005 8.22391C6.13472 8.18966 6.10669 8.14901 6.08757 8.10427C6.06845 8.05953 6.0586 8.01158 6.0586 7.96315C6.05857 7.9147 6.06838 7.86672 6.08749 7.82194C6.10659 7.77717 6.13461 7.73649 6.16995 7.70221C6.20529 7.66794 6.24724 7.64075 6.29342 7.6222C6.33961 7.60365 6.38911 7.5941 6.4391 7.5941H9.89032C9.99119 7.59396 10.088 7.63263 10.1594 7.70162C10.2309 7.77061 10.2712 7.86427 10.2714 7.96203C10.2714 8.0105 10.2615 8.0585 10.2424 8.10328C10.2232 8.14805 10.1951 8.18873 10.1597 8.22298C10.1244 8.25723 10.0823 8.28438 10.0361 8.30288C9.98987 8.32138 9.94034 8.33086 9.89032 8.33079V8.33192ZM9.89032 10.2447H6.4391C6.38913 10.2447 6.33965 10.2351 6.29349 10.2166C6.24733 10.1981 6.20538 10.1709 6.17005 10.1366C6.13472 10.1024 6.10669 10.0618 6.08757 10.017C6.06845 9.97227 6.0586 9.92432 6.0586 9.87589C6.0586 9.82746 6.06845 9.77951 6.08757 9.73477C6.10669 9.69003 6.13472 9.64938 6.17005 9.61513C6.20538 9.58089 6.24733 9.55373 6.29349 9.5352C6.33965 9.51666 6.38913 9.50713 6.4391 9.50713H9.89032C9.99114 9.50698 10.0879 9.54561 10.1593 9.61454C10.2308 9.68347 10.2711 9.77706 10.2714 9.87477C10.2714 9.92324 10.2615 9.97124 10.2424 10.016C10.2232 10.0608 10.1951 10.1015 10.1597 10.1357C10.1244 10.17 10.0823 10.1971 10.0361 10.2156C9.98987 10.2341 9.94034 10.2436 9.89032 10.2435V10.2447Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
    .footerCard {
      font-size: 15px;
      color: #949494;
      justify-content: space-between;
    }
  }
}