div.aboutContentWrapper {
	margin: 0;
	min-height: 738px;
	div.aboutContainerLayout {
		h2 {
			font-size: 36px;
			margin-bottom: 30px;
			@media (max-width: 768px) {
				font-size: 32px;
				margin-bottom: 0;
			}
		}
	}

	@include mobile {
		margin: 0;
		padding: 0;
	}
}

.aboutSideMenu {
	margin-bottom: 20px;
	@include mobile {
		padding-top: 0;
		padding-bottom: 30px;
		margin-bottom: 0;
	}
}

.bottomMobileMenu {
	margin: 30px 0 0 0;
	padding: 0;
}
