.participantsSection {
  h4 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .headParticipant {
    width: 100%;
  }
  .numberOfFilter {
    margin: 10px 0 20px 0;
    font-size: 18px;
  }
  .participantsTable {
    grid-template-columns:
      minmax(42px, 42px)
      minmax(110px, 110px)
      minmax(450px, 450px)
      minmax(193px, 193px)
      minmax(170px, 170px)
      minmax(170px, 170px)
      minmax(170px, 1fr);
    .ageCell {
      margin-left: 20px;
    }
    .idCell {
      width: 100%;
      margin: 0;
      text-align: center;
    }
  }

  .participantsTab {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(423px, 423px));
    gap: 25px;
    margin: 0 0 30px 0;
    @media (max-width: 768px) {
      grid-template: auto / repeat(auto-fit, minmax(300px, 423px));
    }
  }

  .showMoreBtnTab {
    margin: 0;
  }
}
