.partnersSection {
	padding: 0px 0 40px;

	@include mobile {
		padding: 0px 0 50px;
	}

	.partnersSliderBtns {
		@include mobile {
			visibility: hidden;
		}
	}

	.partnerSlide {
		width: 108px!important;
	}

	.partnerCard {
		max-width: 108px;
		width: 108px;
		height: 75px;
		border-radius: 5px;
		@media (max-width: 440px) {
			margin: 0 auto;
		}
		a {
			width: 100%;
			height: 100%;
	
			img {
				border-radius: 5px;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.partnersTop {
		margin: 0 0 60px 0;
		align-items: center;
		justify-content: space-between;
		@include mobile {
			margin-bottom: 25px;
		}
	}
}

.partnersList {
	display: flex;
	flex-wrap: wrap;
	column-gap: 18px;

	@include mobile-s {
		flex-direction: column;
		align-items: center;
	}
}
