div.newsListPage {
  margin: 0;
  min-height: 1050px;
  @media (max-width: 768px) {
    min-height: auto;
  }
  .newsContainer {
    @media (max-width: 768px) {
      padding: 0;
    }
    h2 {
      margin-bottom: 25px;
    }
    .newsList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(245px, 245px));
      @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        justify-content: center;
        margin-bottom: 30px;
      }
      gap: 23px;
      a.newsItem {
        .newsItemContent {
          .newsDesc {
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
      }
    }

    .newsAbsence {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 150px;
      font-size: 25px;
    }
    @media (max-width: 768px) {
      min-height: auto;
      margin: 0 0 45px 0;
    }
  }
}