.funNewsPage {
  padding-bottom: 40px;
	.newsSectionRow {
		margin: 0 0 20px 0;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	@include mobile {
		padding: 0px 0 53px;
	}

	.newsSliderBtns {
		@media (max-width: 768px) {
			top: 45%;
			width: 70%;
		}
		@media (max-width: 440px) {
			top: 40%;
			width: 270px;
		}
	}

  .swiperSlider {
    height: 315px;
  }
}

.funNewsTab {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}

.newsSliderWrapper {
	position: relative;
	justify-content: center;
	column-gap: 15px;
	padding: 20px 0 20px 20px;
}

.newsSlide {
	width: 286px;

	@include mobile-s {
		min-height: 340px;
	}
}

.breakpointNews, .topNews {
	display: flex;
	flex-direction: row;
	gap: 25px;
	padding-bottom: 20px;
}

.mainNews {
	max-width: 785px;
	width: 100%;
	.mainNewsCard {
		width: 100%;
	}
}

.topNews {
	a {
		width: 245px;
	}
}
