.eventGallery {
	padding: fluid(50, 40) 0 30px;

	.eventGalleryButton {
		width: 100%;
		padding-block: 16px;
		border-radius: 3px;
		background-color: var(--color-white-01);
		margin-top: fluid(10, 0);

		@include hover {
			background-color: var(--color-gray);
		}
	}
}

.galleryLengthInfo {
	font-size: 16px;
	margin-bottom: 20px;
}

.eventPhotos {
	margin-bottom: 20px;
}
