.rules {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .rulesTitle {
    font-size: 32px;
  }
  .rulesText {
    font-size: 20px;
    a {
      font-size: 20px;
      color: #E30613;
    }
  }
}