.participantDetailsWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 30px;
	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

div.participantDetailsContent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin: 0;
	@media (max-width: 768px) {
		margin: 0 0 20px 0;
		padding: 20px 0 0 0;
	}

	h3 {
		font-size: 26px;
		font-weight: 400;
		margin-bottom: 15px;
	}

	section {
		padding: 40px 0 40px;

		&:first-child {
			padding: 15px 0 30px;
		}

		&:last-of-type {
			border: none;
		}
	}
}

.participantTabs {
	padding-top: 24px;
	border-top: 7px solid #f2f5f8;
	margin-bottom: 0px;
}

.participantTabContent {
	display: flex;
	flex-direction: column;
	min-height: 770px;
}

a.allParticipantsLink {
	color: #de0008;
	font-size: fluid(20, 18);
	margin-top: 20px;
	display: block;
	padding-top: 30px;
	border-top: 7px solid #f2f5f8;
}
