.teamsSection {
  @media (max-width: 768px) {
    padding-bottom: 30px;
  }
  h4 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .numberOfFilter {
    margin: 10px 0 20px 0;
    font-size: 18px;
  }
  .teamsTable {
    grid-template-columns:
      minmax(42px, 50px)
      minmax(366px, 366px)
      minmax(200px, 200px)
      minmax(321px, 321px)
      minmax(110px, 110px)
      minmax(120px, 120px)
      minmax(146px, 1fr);
    .idCell {
      width: 100%;
      margin: 0;
      text-align: center;
    }
    .participantsLink {
      font-size: 17px;
      color: #E30613;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: #E30613;
    }
  }

  .teamsTab {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(423px, 423px));
    gap: 25px;
    margin: 0 0 30px 0;
    @media (max-width: 768px) {
      grid-template: auto / repeat(auto-fit, minmax(300px, 423px));
    }
  }

  .showMoreBtnTab {
    margin: 0;
  }
}
