@import 'src/assets/styles/vars';

.placementWrapper {
	h4 {
		font-size: 25px;
		font-weight: 400;
		margin-bottom: 12px;
	}
}

.placeMap {
	height: 620px;
	padding: 5px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(105, 119, 132, 0.25);
	iframe {
		border: none;
		height: 100%;
	}
	@media (max-width: 768px) {
		width: 300px;
		height: 380px;
	}
}
.placeTabs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;
	margin-bottom: 20px;
	li {
		box-shadow: 0 0 10px 0 rgba(105, 119, 132, 0.25);
		background: #fff;
		border-radius: 5px;
		padding: 15px;
		cursor: pointer;
		h6 {
			color: #ed1c24;
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 5px;
		}
		p {
			font-size: fluid(18, 14);
			line-height: 1.3;
		}
	}
	:global {
		.active {
			box-shadow: inset 0 0 0 2px #ed1c24;
			h6 {
				color: #000000;
			}
		}
	}
}

.placeListDesc {
	p {
		padding-left: 15px;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 2px;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #000000;
		}
	}
}
