@import 'src/assets/styles/vars';

.descSection {
	p {
		font-size: 20px;
		line-height: 1.3;

		@include mobile {
			line-height: 1.44;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	a {
		color: #de0008;
	}
}
