.teamsSection {
  @media (max-width: 768px) {
    padding-bottom: 30px;
  }
  h4 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .numberOfFilter {
    margin: 10px 0 20px 0;
    font-size: 18px;
  }
}