.eventPoster {
	padding: 50px 0 20px;
	display: flex;
	gap: 40px;
	@media (max-width: 800px) {
		flex-direction: column-reverse;
	}
	.eventPosterImg {
		max-width: 322px;
		max-height: 215px;
		min-width: 322px;
		min-height: 215px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #E1E1E1;
		border-radius: 5px;
		@media (max-width: 768px) {
			max-width: 300px;
			max-height: 200px;
			min-width: 300px;
			min-height: 200px;
		}
		.skeleton {
			width: 190px;
			height: 50px;
		}
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 3 / 2;
			object-fit: cover;
			border-radius: 5px;
		}
	}

	.skeleton {
		width: 190px;
		height: 50px;
		margin: 0 auto;
	}

	.eventPosterInfo {
		display: flex;
		flex-direction: column;
		max-width: 943px;
		h2 {
			font-size: 36px;
			margin-bottom: 10px;
		}
		.topLineEvent {
			gap: 9px;
			align-items: center;
			margin-bottom: 15px;
		}

		.infoBlockText {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.eventTime {
			font-size: 17px;
		}

		.ageRating {
			position: relative;
		}
		
		.dot {
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #000000;
		}
		
		.dot:nth-of-type(2) {
			@media (max-width: 768px) {
				opacity: 0;
				visibility: hidden;
			}
		}
		.dot:nth-of-type(3) {
			@media (max-width: 768px) {
				opacity: 0;
				visibility: hidden;
			}
			@media (max-width: 425px) {
				margin-right: 10px;
			}
		}
		
		._red {
			background: #de0008;
		}
	}
}
