.videotapeSection {
	padding: 0px 0 40px;

	.videotapeSectionRow {
		margin: 0 0 20px 0;
		align-items: center;
		justify-content: space-between;
		gap: 17px;
	}

	@include mobile {
		padding: 0px 0 37px;
	}

	h4 {
		@media (max-width: 550px) {
			margin-bottom: 1px;
		}
	}

	.videotapeTop {
		@media (max-width: 550px) {
			margin-bottom: 17px;
		}
	}

	.videoSliderBtns {
		@media (max-width: 768px) {
			top: 49%;
			width: 70%;
		}
		@media (max-width: 440px) {
			width: 270px;
		}
	}
}
