.newsItemPage {
	display: flex;
	gap: 60px;
	justify-content: space-between;
	@media (max-width: 1200px) {
		flex-direction: column;
		gap: 0;
	}

	.newsListPage {
		padding-bottom: 35px;
		margin: 0;
		@media (max-width: 440px) {
			padding: 30px 20px 35px 20px;
		}
		.newsContainer {
			padding: 0 90px 0 40px;
			@media (max-width: 768px) {
				padding: 0;
			}
			h2 {
				margin-bottom: 25px;
			}

			@media (max-width: 1200px) {
				min-height: auto;
				margin: 0;
			}
			.newsItemPageContent {
				display: flex;
				flex-grow: 1;
				flex-direction: row;
				justify-content: space-between;
				gap: 65px;
				@media (max-width: 1448px) {
					flex-direction: column;
				}

				.newsItemInfoContent {
					display: flex;
					flex-direction: column;
					max-width: 990px;
				}

				@include mobile {
					margin-bottom: 0;
				}

				h2 {
					line-height: 1.1;
					margin-bottom: 35px;

					@include mobile {
						margin-bottom: 20px;
					}
				}
			}
		}

		.asideNewsDetails {
			padding: 12px 0 0 0;
		}

		.newsItemDate {
			color: #E30613;
			display: block;
			margin-bottom: 15px;
			font-size: 17px;
		}

		.allNewsBtn {
			max-width: 125px;
			margin-top: 10px;
		}

		.newsItemMainImg {
			margin: 0 0 15px 0;
			aspect-ratio: 3 / 2;
			position: relative;
			border-radius: 5px;
			width: 100%px;

			@media (max-width: 510px) {
				margin: 0 0 30px 0;
				width: 300px;
				height: 200px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				aspect-ratio: 3 / 2;
				border-radius: 5px;
				float: right;
				shape-outside: margin-box;
			}
		}

		.newsItemMainImgText {
			display: none;
			max-width: 322px;
			margin: 0 0 30px 0;
			aspect-ratio: 3 / 2;
			position: relative;
			border-radius: 5px;
			width: 322px;
			height: 215px;
			@media (max-width: 1100px) {
				display: block;
			}
			@media (max-width: 510px) {
				margin: 0 0 30px 0;
				width: 300px;
				height: 200px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				aspect-ratio: 3 / 2;
				border-radius: 5px;
			}
		}

		.newsDescs {
			font-size: 20px;
			row-gap: fluid(20, 18);
			padding-bottom: 20px;

			p {
				font-size: 20px;
			}
			a {
				font-size: 20px;
				color: #E30613;
			}
		}

		.newsShortDescs {
			padding-bottom: 20px;
			font-size: 20px;
			p {
				font-size: 20px;
			}
			a {
				font-size: 20px;
				color: #E30613;
			}
		}

		.newsGallery {
			margin-top: 40px;
			margin-bottom: 40px;
			gap: 15px;
			grid-template-columns: repeat(auto-fit, minmax(217px, 217px));

			li {
				width: 217px;
				max-width: 217px;
				& > div {
					border: none;
					height: 156px;
				}
			}
		}

		.slider {
			margin: 30px 0 56px;
			position: relative;

			.newsSliderBtns {
				opacity: 1;
				visibility: visible;
				width: calc(100% + 50px);

				@include mobile {
					width: 100%;
				}
			}

			.noBtns {
				opacity: 0;
				visibility: hidden;
			}

			.slideItem {
				.slideTitle {
					font-size: 16px;
					font-weight: 400;
					color: var(--color-black);
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					line-clamp: 2;
				}

				.slideAuthor {
					color: var(--color-gray-05);
					font-size: 14px;
				}

				.slideImg {
					width: 100%;
					height: 140px;
					border-radius: 5px;
					margin-bottom: 5px;

					@include mobile {
						height: 173px;
					}

					img {
						width: 100%;
						height: 100%;
						border-radius: 5px;
						object-fit: cover;
					}
				}
			}
		}

		.gallerySlider {
			margin: 30px 0 50px 0;

			.galleryBtns {
				@include mobile {
					top: 50%;
				}
			}
		}

		.allNewsBlock {
			margin-top: auto;
			padding-top: 33px;
			border-top: 7px solid #f2f5f8;

			a {
				font-size: 20px;
				color: #de0008;
			}
		}
	}
}
